# Copy this file as .env, then fill and adapt the actual values
JOHNCLOUD_ROOT=/path/to/root/of/paas/data
HOST=fief.domain.tld
TZ=Etc/UTC
TRAEFIK_NETWORK=traefik-proxy 
HOME_GROUP=Platform
HOME_NAME=fief
HOME_ICON=fief.png
HOME_DESCRIPTION=Authenticate your users in minutes
SECRET=
FIEF_CLIENT_ID=
FIEF_CLIENT_SECRET=
ENCRYPTION_KEY=
FIEF_MAIN_USER_EMAIL=
FIEF_MAIN_USER_PASSWORD=
DATABASE_PASSWORD= # Main database user's password			fiefpassword
