# Copy this file as .env, then fill and adapt the actual values
JOHNCLOUD_ROOT=/path/to/root/of/paas/data
HOST=fief.domain.tld
TZ=Etc/UTC
TRAEFIK_NETWORK=traefik-proxy 
HOME_GROUP=Platform
HOME_NAME=Fief
HOME_ICON=https://www.fief.dev/logos/fief.svg
HOME_DESCRIPTION=Authenticate your users in minutes
SECRET=
FIEF_CLIENT_ID=
FIEF_CLIENT_SECRET=
ENCRYPTION_KEY=
FIEF_MAIN_USER_EMAIL=
FIEF_MAIN_USER_PASSWORD=
EMAIL_PROVIDER_PARAMS= # Configuration dictionary of the email provider
DATABASE_PASSWORD= # Main database user's password			fiefpassword
DEFAULT_FROM_EMAIL= # Default transactional emails sender email address	contact@fief.dev		contact@bretagne.duchy
DEFAULT_FROM_NAME= # Default transactional emails sender name	Fief		Bretagne
