services:
  whoami:
    image: traefik/whoami:latest
    restart: unless-stopped
    labels:
      - "homepage.group=$HOME_GROUP"
      - "homepage.name=$HOME_NAME"
      - "homepage.icon=$HOME_ICON"
      - "homepage.href=https://$HOST"
      - "homepage.description=$HOME_DESCRIPTION"
      # - "traefik.http.routers.$COMPOSE_PROJECT_NAME.middlewares=authentik@file"
      - pangolin.public-resources.$COMPOSE_PROJECT_NAME.name=$COMPOSE_PROJECT_NAME
      - pangolin.public-resources.$COMPOSE_PROJECT_NAME.full-domain=$HOST
      - pangolin.public-resources.$COMPOSE_PROJECT_NAME.protocol=http
      - pangolin.public-resources.$COMPOSE_PROJECT_NAME.ssl=true
      - pangolin.public-resources.$COMPOSE_PROJECT_NAME.auth.sso-enabled=true
      - pangolin.public-resources.$COMPOSE_PROJECT_NAME.auth.sso-roles[0]=Member
      - pangolin.public-resources.$COMPOSE_PROJECT_NAME.targets[0].method=http
      
networks:
  default:
    external: true
    name: $TRAEFIK_NETWORK
