COMPOSE_PROJECT_NAME=pydio
JOHNCLOUD_ROOT=/path/to/root/of/paas/data
HOST=pydio.domain.tld
TZ=Europe/Paris
TRAEFIK_NETWORK=traefik-proxy
HOME_GROUP=Bureautique
HOME_NAME=pydio
HOME_ICON=pydio.png
HOME_DESCRIPTION="Plate-forme de partage, de collaboration et de gestion de documents pour l'entreprise"
MYSQL_ROOT_PASSWORD=
MYSQL_PASSWORD=
CELLS_ADMIN_PWD=
