# Wazuh App Copyright (C) 2017, Wazuh Inc. (License GPLv2)

services:
  manager:
    image: wazuh/wazuh-manager:4.14.1
    restart: unless-stopped
    user: "0:0"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 655360
        hard: 655360
    ports:
      - "1514:1514"
      - "1515:1515"
      - "514:514/udp"
      - "55000:55000"
    environment:
      INDEXER_URL: https://indexer:9200
      INDEXER_USERNAME: admin
      INDEXER_PASSWORD: admin
      FILEBEAT_SSL_VERIFICATION_MODE: none
      API_USERNAME: wazuh-wui
      API_PASSWORD: MyS3cr37P450r.*-
    volumes:
      - $JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/api_configuration:/var/ossec/api/configuration
      - $JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/etc:/var/ossec/etc
      - $JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/logs:/var/ossec/logs
      - $JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/queue:/var/ossec/queue
      - $JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/var_multigroups:/var/ossec/var/multigroups
      - $JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/integrations:/var/ossec/integrations
      - $JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/active_response:/var/ossec/active-response/bin
      - $JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/agentless:/var/ossec/agentless
      - $JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/wodles:/var/ossec/wodles
      - $JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/filebeat_etc:/etc/filebeat
      - $JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/filebeat_var:/var/lib/filebeat
      - $JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/config/wazuh_cluster/wazuh_manager.conf:/wazuh-config-mount/etc/ossec.conf

  indexer:
    image: wazuh/wazuh-indexer:4.14.1
    restart: unless-stopped
    user: "1000:1000"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    ports:
      - "9200:9200"
    environment:
      OPENSEARCH_JAVA_OPTS: "-Xms1g -Xmx1g"
    volumes:
      - $JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/indexer-data:/var/lib/wazuh-indexer
      #  if you need mount a custom opensearch.yml, uncomment the next line and delete the environment variables
      - $JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/config/wazuh_indexer/wazuh.indexer.yml:/usr/share/wazuh-indexer/opensearch.yml
      - $JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/config/wazuh_indexer/internal_users.yml:/usr/share/wazuh-indexer/config/opensearch-security/internal_users.yml


  dashboard:
    image: wazuh/wazuh-dashboard:4.14.1
    restart: unless-stopped
    user: "1000:1000"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    ports:
      - 5601:5601
    environment:
      WAZUH_API_URL: https://manager
      DASHBOARD_USERNAME: kibanaserver
      DASHBOARD_PASSWORD: kibanaserver
      API_USERNAME: wazuh-wui
      API_PASSWORD: MyS3cr37P450r.*-
      SERVER_HOST: 0.0.0.0
      SERVER_PORT: 5601
      OPENSEARCH_HOSTS: https://indexer:9200
      OPENSEARCH_SSL_VERIFICATIONMODE: certificate
      OPENSEARCH_REQUESTHEADERSALLOWLIST: '["securitytenant","Authorization"]'
      OPENSEARCH_SECURITY_MULTITENANCY_ENABLED: "false"
      SERVER_SSL_ENABLED: "false"
      OPENSEARCH_SECURITY_READONLY_MODE_ROLES: '["kibana_read_only"]'
      UISETTINGS_OVERRIDES_DEFAULTROUTE: /app/wz-home
    volumes:
      - $JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/dashboard-config:/usr/share/wazuh-dashboard/data/wazuh/config
      - $JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/dashboard-custom:/usr/share/wazuh-dashboard/plugins/wazuh/public/assets/custom
      - $JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/config/wazuh_dashboard/wazuh.yml:/wazuh-config-mount/data/wazuh/config/wazuh.yml
      #  if you need mount a custom opensearch-dashboards.yml, uncomment the next line and delete the environment variables
      # - $JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/config/wazuh_dashboard/opensearch_dashboards.yml:/wazuh-config-mount/config/opensearch_dashboards.yml
    depends_on:
      - indexer
      - manager
    links:
      - indexer:$COMPOSE_PROJECT_NAME-indexer-1
      - manager:$COMPOSE_PROJECT_NAME-manager-1

networks:
  default:
    external: true
    name: $TRAEFIK_NETWORK

