# Copy this file as .env, then fill and adapt the actual values
JOHNCLOUD_ROOT=/path/to/root/of/paas/data
HOST=vault.domain.tld
TZ=Etc/UTC
TRAEFIK_NETWORK=traefik-proxy
HOME_GROUP=Bureautique
HOME_NAME=Bitwarden
HOME_ICON=bitwarden.svg
HOME_DESCRIPTION=Password manager
globalSettings__mail__replyToEmail= # Enter the reply email for your server
globalSettings__mail__smtp__host= # Enter host domain for your SMTP server
globalSettings__mail__smtp__port= # Enter the port number from the SMTP host
globalSettings__mail__smtp__ssl= # If your SMTP host uses SSL enter true. Set value to false if your host uses TLS service
globalSettings__mail__smtp__username= # Enter the SMTP username.
globalSettings__mail__smtp__password= # Enter the SMTP password.
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
