# Copy this file as .env, then fill and adapt the actual values
JOHNCLOUD_ROOT=/path/to/root/of/paas/data
HOST=puppet.domain.tld
TZ=Etc/UTC
TRAEFIK_NETWORK=traefik-proxy 
HOME_GROUP=Bureautique
HOME_NAME=puppet
HOME_ICON=puppet.png
HOME_DESCRIPTION=QR code generation
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
BOARD_SECRET_KEY=
