# Copy this file as .env, then fill and adapt the actual values
COMPOSE_PROJECT_NAME=heimdall
HOST=heimdall.domain.tld
TRAEFIK_NETWORK=traefik-proxy
TZ=Etc/UTC
HOME_GROUP=Platform
HOME_NAME=Heimdall
HOME_ICON=heimdall.svg
HOME_DESCRIPTION=Application Dashboard
