services:
  n8n:
    image: n8nio/n8n:latest
    restart: unless-stopped
    user: "1000:1000"
    labels:
      - traefik.enable=true
      - traefik.http.routers.$COMPOSE_PROJECT_NAME.rule=Host(`${HOST}`)
      - traefik.http.routers.$COMPOSE_PROJECT_NAME.tls=true
      - traefik.http.routers.$COMPOSE_PROJECT_NAME.entrypoints=websecure
      - traefik.http.routers.$COMPOSE_PROJECT_NAME.tls.certresolver=letsencrypt
      - traefik.http.services.$COMPOSE_PROJECT_NAME.loadbalancer.server.port=5678
      - homepage.group=$HOME_GROUP
      - homepage.name=$HOME_NAME
      - homepage.icon=$HOME_ICON
      - homepage.href=https://${HOST}
      - homepage.description=$HOME_DESCRIPTION
    environment:
      - N8N_HOST=${HOST}
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - NODE_ENV=production
      - WEBHOOK_URL=https://${HOST}/
      - N8N_PROXY_HOPS=1
      - GENERIC_TIMEZONE=${TZ}
      - DB_TYPE=sqlite
      - DB_SQLITE_POOL_SIZE=4
      - N8N_GIT_NODE_DISABLE_BARE_REPOS=true
      - N8N_BLOCK_ENV_ACCESS_IN_NODE=true
      - N8N_EMAIL_MODE=$N8N_EMAIL_MODE
      - N8N_SMTP_HOST=$N8N_SMTP_HOST
      - N8N_SMTP_PORT=$N8N_SMTP_PORT
      - N8N_SMTP_USER=$N8N_SMTP_USER
      - N8N_SMTP_PASS=$N8N_SMTP_PASS
      - N8N_SMTP_SENDER=$N8N_SMTP_SENDER
      - N8N_SMTP_SSL=$N8N_SMTP_SSL
      - N8N_RUNNERS_ENABLED=true
      - N8N_RUNNERS_MODE=external
      - N8N_RUNNERS_BROKER_LISTEN_ADDRESS=0.0.0.0
      - N8N_RUNNERS_AUTH_TOKEN=${RUNNERS_AUTH_TOKEN}
      - N8N_NATIVE_PYTHON_RUNNER=true
    volumes:
      # - ${JOHNCLOUD_ROOT}/$COMPOSE_PROJECT_NAME/data:/home/node/.n8n
      - ./n8n/data:/home/node/.n8n

  task-runners:
    image: n8nio/runners:1.111.0
    environment:
      - N8N_RUNNERS_TASK_BROKER_URI=http://n8n:5679
      - N8N_RUNNERS_AUTH_TOKEN=${RUNNERS_AUTH_TOKEN}
    depends_on:
      - n8n

networks:
  default:
    external: true
    name: $TRAEFIK_NETWORK
    
