services:
  n8n:
    image: docker.n8n.io/n8nio/n8n:latest
    restart: unless-stopped
    user: "0:0"
    labels:
      - traefik.enable=true
      - traefik.http.routers.$COMPOSE_PROJECT_NAME.rule=Host(`${HOST}`)
      - traefik.http.routers.$COMPOSE_PROJECT_NAME.tls=true
      - traefik.http.routers.$COMPOSE_PROJECT_NAME.entrypoints=websecure
      - traefik.http.routers.$COMPOSE_PROJECT_NAME.tls.certresolver=letsencrypt
      - traefik.http.middlewares.$COMPOSE_PROJECT_NAME.headers.SSLRedirect=true
      - traefik.http.middlewares.$COMPOSE_PROJECT_NAME.headers.STSSeconds=315360000
      - traefik.http.middlewares.$COMPOSE_PROJECT_NAME.headers.browserXSSFilter=true
      - traefik.http.middlewares.$COMPOSE_PROJECT_NAME.headers.contentTypeNosniff=true
      - traefik.http.middlewares.$COMPOSE_PROJECT_NAME.headers.forceSTSHeader=true
      - traefik.http.middlewares.$COMPOSE_PROJECT_NAME.headers.SSLHost=${DOMAIN_NAME}
      - traefik.http.middlewares.$COMPOSE_PROJECT_NAME.headers.STSIncludeSubdomains=true
      - traefik.http.middlewares.$COMPOSE_PROJECT_NAME.headers.STSPreload=true
      - traefik.http.services.$COMPOSE_PROJECT_NAME.loadbalancer.server.port=5678
      - homepage.group=$HOME_GROUP
      - homepage.name=$HOME_NAME
      - homepage.icon=$HOME_ICON
      - homepage.href=https://${HOST}
      - homepage.description=$HOME_DESCRIPTION
    environment:
      - EXPRESS_TRUST_PROXY=true
      - N8N_HOST=${HOST}
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - NODE_ENV=production
      - WEBHOOK_URL=https://${HOST}/
      - GENERIC_TIMEZONE=${TZ}
      - N8N_EMAIL_MODE=$N8N_EMAIL_MODE
      - N8N_SMTP_HOST=$N8N_SMTP_HOST
      - N8N_SMTP_PORT=$N8N_SMTP_PORT
      - N8N_SMTP_USER=$N8N_SMTP_USER
      - N8N_SMTP_PASS=$N8N_SMTP_PASS
      - N8N_SMTP_SENDER=$N8N_SMTP_SENDER
      - N8N_SMTP_SSL=$N8N_SMTP_SSL
    volumes:
      - ${JOHNCLOUD_ROOT}/$COMPOSE_PROJECT_NAME/data:/home/node/.n8n

networks:
  default:
    external: true
    name: $TRAEFIK_NETWORK
    
