services:
  server:
    image: vaultwarden/server:latest
    restart: unless-stopped
    environment:
      DOMAIN: https://$HOST
      TZ: $TZ
    volumes:
      - vaultwarden:/data/
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.vaultwarden.rule=Host(`$HOST`)"
        - "traefik.http.routers.vaultwarden.entrypoints=websecure"
        - "traefik.http.routers.vaultwarden.tls.certresolver=letsencrypt"
        - "homepage.group=Bureautique"
        - "homepage.name=Vaultwarden"
        - "homepage.icon=vaultwarden.svg"
        - "homepage.href=https://$HOST"
        - "homepage.description=Password manager"

volumes:
  vaultwarden:

networks:
  default:
    external: true
    name: $TRAEFIK_NETWORK
