services:
  server:
    image: vaultwarden/server:$VAULTWARDEN_TAG
    restart: unless-stopped
    environment:
      DOMAIN: https://$HOST
      TZ: $TZ
      SIGNUPS_ALLOWED: $SIGNUPS_ALLOWED
      ADMIN_TOKEN: $ADMIN_TOKEN
      SMTP_HOST: $SMTP_HOST
      SMTP_FROM: $SMTP_FROM
      SMTP_PORT: $SMTP_PORT
      SMTP_SECURITY: $SMTP_SECURITY
      SMTP_USERNAME: $SMTP_USERNAME
      SMTP_PASSWORD: $SMTP_PASSWORD
      SSO_ENABLED: $SSO_ENABLED
      SSO_AUTHORITY: $SSO_AUTHORITY
      SSO_CLIENT_ID: $SSO_CLIENT_ID
      SSO_CLIENT_SECRET: $SSO_CLIENT_SECRET
      SSO_SCOPES: $SSO_SCOPES
      SSO_ALLOW_UNKNOWN_EMAIL_VERIFICATION: $SSO_ALLOW_UNKNOWN_EMAIL_VERIFICATION
      SSO_CLIENT_CACHE_EXPIRATION: $SSO_CLIENT_CACHE_EXPIRATION
      SSO_ONLY: $SSO_ONLY
      SSO_SIGNUPS_MATCH_EMAIL: $SSO_SIGNUPS_MATCH_EMAIL
    volumes:
      - $JOHNCLOUD_ROOT/vaultwarden:/data/
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.$COMPOSE_PROJECT_NAME.rule=Host(`$HOST`)"
      - "traefik.http.routers.$COMPOSE_PROJECT_NAME.entrypoints=websecure"
      - "traefik.http.routers.$COMPOSE_PROJECT_NAME.tls.certresolver=letsencrypt"
      - "traefik.http.services.$COMPOSE_PROJECT_NAME.loadbalancer.server.port=80"
      - "homepage.group=$HOME_GROUP"
      - "homepage.name=$HOME_NAME"
      - "homepage.icon=$HOME_ICON"
      - "homepage.href=https://$HOST"
      - "homepage.description=$HOME_DESCRIPTION"
    
networks:
  default:
    external: true
    name: $TRAEFIK_NETWORK
