services:
  server:
    image: vaultwarden/server:latest
    restart: unless-stopped
    environment:
      DOMAIN: https://$HOST
      TZ: $TZ
      SIGNUPS_ALLOWED: $SIGNUPS_ALLOWED
      ADMIN_TOKEN_FILE: /run/secrets/vaultwarden_admin_token
      SMTP_HOST: $SMTP_HOST
      SMTP_FROM: $SMTP_FROM
      SMTP_PORT: $SMTP_PORT
      SMTP_SECURITY: $SMTP_SECURITY
      SMTP_USERNAME: $SMTP_USERNAME
      SMTP_PASSWORD_FILE: /run/secrets/vaultwarden_smtp_passsword
    volumes:
      - vaultwarden:/data/
    secrets:
      - vaultwarden_admin_token
      - vaultwarden_smtp_passsword
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.$COMPOSE_PROJECT_NAME.rule=Host(`$HOST`)"
        - "traefik.http.routers.$COMPOSE_PROJECT_NAME.entrypoints=websecure"
        - "traefik.http.routers.$COMPOSE_PROJECT_NAME.tls.certresolver=letsencrypt"
        - "traefik.http.services.$COMPOSE_PROJECT_NAME.loadbalancer.server.port=80"
        - "homepage.group=$HOME_GROUP"
        - "homepage.name=$HOME_NAME"
        - "homepage.icon=$HOME_ICON"
        - "homepage.href=https://$HOST"
        - "homepage.description=$HOME_DESCRIPTION"

volumes:
  vaultwarden:

secrets:
  vaultwarden_admin_token:
    external: true
  vaultwarden_smtp_passsword:
    external: true
    
networks:
  default:
    external: true
    name: $TRAEFIK_NETWORK
