# Copy this file as .env, then fill and adapt the actual values
COMPOSE_PROJECT_NAME=vaultwarden
HOST=whoami.domain.tld
TRAEFIK_NETWORK=traefik-proxy 
HOME_GROUP=Platform
HOME_NAME=whoami
HOME_ICON=traefik.svg
HOME_DESCRIPTION=Test whoami service
