# Copy this file as .env, then fill and adapt the actual values
JOHNCLOUD_ROOT=/path/to/root/of/paas/data
HOST=vault.domain.tld
TZ=Europe/Paris
TRAEFIK_NETWORK=traefik-proxy
HOME_GROUP=Bureautique
HOME_NAME=Vaultwarden
HOME_ICON=vaultwarden.svg
HOME_DESCRIPTION=Password manager
# VAULTWARDEN_TAG=latest
VAULTWARDEN_TAG=testing
SIGNUPS_ALLOWED=false
ADMIN_TOKEN=
SMTP_HOST=
SMTP_FROM=
SMTP_PORT=
SMTP_SECURITY=starttls
SMTP_USERNAME=
SMTP_PASSWORD=
SSO_ENABLED= #Activate the SSO
SSO_AUTHORITY= #the OpenID Connect Discovery endpoint of your SSO. Should not include the /.well-known/openid-configuration part and no trailing / SSO_AUTHORITY/.well-known/openid-configuration should return the a json document= #https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderConfigurationResponse
SSO_CLIENT_ID= #Client Id
SSO_CLIENT_SECRET= #Client Secret
SSO_SCOPES="openid email profile offline_access"
SSO_ALLOW_UNKNOWN_EMAIL_VERIFICATION=false
SSO_CLIENT_CACHE_EXPIRATION=0
SSO_ONLY=false # Set to true to disable email+master password login and require SSO
SSO_SIGNUPS_MATCH_EMAIL=true # Match first SSO login to existing account by email
