COMPOSE_PROJECT_NAME=revika
JOHNCLOUD_ROOT=/path/to/root/of/paas/data
HOST=revika.domain.tld
TZ=Etc/UTC
TRAEFIK_NETWORK=traefik-proxy
HOME_GROUP=Ressources
HOME_NAME=Revika
HOME_ICON=https://raw.githubusercontent.com/ydethe/revika/refs/heads/main/logo.png
HOME_DESCRIPTION="Decentralized, distributed, end-to-end encrypted storage system"
REPAIR_INTERVAL=1h
