JOHNCLOUD_ROOT=/path/to/root/of/paas/data
HOST=grist.domain.tld
TZ=Etc/UTC
TRAEFIK_NETWORK=traefik-proxy
HOME_GROUP=Bureautique
HOME_NAME=grist
HOME_ICON=grist.png
HOME_DESCRIPTION="Grist is the evolution of spreadsheets"
OIDC_ISSUER_URL=https://authentik.johncloud.fr/application/o/homebox/
OIDC_LOGOUT_URL=
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
DEFAULT_ADMIN_EMAIL=
GRIST_SINGLE_ORG= 
GRIST_ACTIVATION=
