services:
  web:
    image: docker.io/linkace/linkace:latest
    depends_on:
      - db
      - redis
    environment:
      - APP_KEY=$APP_KEY
      ## Configuration of the database connection
      # Set the database driver (mysql, pgsql, sqlsrv, sqlite)
      - DB_CONNECTION=mysql
      # Set the host of your database here
      - DB_HOST=db
      # Set the port of your database here
      - DB_PORT=3306
      # Set the database name here
      - DB_DATABASE=linkace
      # Set both username and password of the user accessing the database
      - DB_USERNAME=linkace
      # Wrap your password into quotes (") if it contains special characters
      - DB_PASSWORD=$DB_PASSWORD
      ## Redis cache configuration
      # Set the Redis connection here if you want to use it
      - REDIS_HOST=redis
      - REDIS_PASSWORD=$REDIS_PASSWORD
      - REDIS_PORT=6379
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.$COMPOSE_PROJECT_NAME.rule=Host(`$HOST`)"
        - "traefik.http.routers.$COMPOSE_PROJECT_NAME.entrypoints=websecure"
        - "traefik.http.routers.$COMPOSE_PROJECT_NAME.tls.certresolver=letsencrypt"
        - "traefik.http.services.$COMPOSE_PROJECT_NAME.loadbalancer.server.port=80"
        # - "traefik.http.routers.$COMPOSE_PROJECT_NAME.middlewares=forward-auth-verify"
        - "homepage.group=$HOME_GROUP"
        - "homepage.name=$HOME_NAME"
        - "homepage.icon=$HOME_ICON"
        - "homepage.href=https://${HOST}"
        - "homepage.description=$HOME_DESCRIPTION"

  # --- Database
  db:
    image: docker.io/library/mariadb:11.5
    command: mariadbd --character-set-server=utf8mb4 --collation-server=utf8mb4_bin
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
      - MYSQL_USER=linkace
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_DATABASE=linkace
    volumes:
      - linkace_db:/var/lib/mysql
    deploy:
      replicas: 1

  redis:
    image: docker.io/bitnami/redis:7.4
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    deploy:
      replicas: 1

volumes:
  linkace_db:

networks:
  default:
    external: true
    name: $TRAEFIK_NETWORK
    