# Copy this file as .env, then fill and adapt the actual values
COMPOSE_PROJECT_NAME=linkace
HOST=linkace.domain.tld
TRAEFIK_NETWORK=traefik-proxy 
HOME_GROUP=Platform
HOME_NAME=linkace
HOME_ICON=linkace.svg
HOME_DESCRIPTION=Fast and Secure Open-Source Backup Software
# sudo docker run --rm -it linkace/linkace php artisan key:generate --show
APP_KEY=
DB_PASSWORD=
REDIS_PASSWORD=
