COMPOSE_PROJECT_NAME=keycloak
JOHNCLOUD_ROOT=/path/to/root/of/paas/data
HOST=keycloak.domain.tld
DOMAIN=domain.tld
TZ=Etc/UTC
TRAEFIK_NETWORK=traefik-proxy
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=
DB_NAME=keycloak_db
DB_USER=keycloak_user
DB_PASSWORD=
