COMPOSE_PROJECT_NAME=paperless
JOHNCLOUD_ROOT=/path/to/root/of/paas/data
CONSUMPTION_DIR=/path/to/root/of/paas/data
HOST=paperless.domain.tld
TZ=Etc/UTC
TRAEFIK_NETWORK=traefik-proxy
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
TRAEFIK_NETWORK=traefik-proxy
PAPERLESS_SECRET_KEY=
UID=1000
GID=1000
PAPERLESS_EMAIL_HOST=
PAPERLESS_EMAIL_PORT=
PAPERLESS_EMAIL_HOST_USER=
PAPERLESS_EMAIL_FROM=
PAPERLESS_EMAIL_HOST_PASSWORD=
PAPERLESS_EMAIL_USE_TLS=
PAPERLESS_ADMIN_USER=
PAPERLESS_ADMIN_PASSWORD=
PAPERLESS_CONSUMER_RECURSIVE=
PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS=
