COMPOSE_PROJECT_NAME=navidrome
HOST=navidrome.domain.tld
JOHNCLOUD_ROOT=/path/to/root/of/paas/data
TZ=Europe/Paris
HOME_GROUP=Ressources
HOME_NAME=Navidrome
HOME_ICON=navidrome.png
HOME_DESCRIPTION=Navidrome Music Server
TRAEFIK_NETWORK=traefik-proxy
MUSIC_PATH=
