services:
  server:
    image: 'ghcr.io/goauthentik/server:${AUTHENTIK_TAG:-2025.6.4}'
    container_name: authentik_server
    restart: unless-stopped
    command: server
    environment:
      AUTHENTIK_REDIS__HOST: 'redis'
      AUTHENTIK_POSTGRESQL__HOST: 'postgresql'
      AUTHENTIK_POSTGRESQL__USER: '${SERVICE_USER_POSTGRESQL}'
      AUTHENTIK_POSTGRESQL__NAME: '${POSTGRES_DB}'
      AUTHENTIK_POSTGRESQL__PASSWORD: '${SERVICE_PASSWORD_POSTGRESQL}'
      AUTHENTIK_SECRET_KEY: '${SERVICE_PASSWORD_64_AUTHENTIKSERVER}'
      AUTHENTIK_ERROR_REPORTING__ENABLED: true
      AUTHENTIK_EMAIL__HOST: '${AUTHENTIK_EMAIL__HOST}'
      AUTHENTIK_EMAIL__PORT: '${AUTHENTIK_EMAIL__PORT}'
      AUTHENTIK_EMAIL__USERNAME: '${AUTHENTIK_EMAIL__USERNAME}'
      AUTHENTIK_EMAIL__PASSWORD: '${AUTHENTIK_EMAIL__PASSWORD}'
      AUTHENTIK_EMAIL__USE_TLS: '${AUTHENTIK_EMAIL__USE_TLS}'
      AUTHENTIK_EMAIL__USE_SSL: '${AUTHENTIK_EMAIL__USE_SSL}'
      AUTHENTIK_EMAIL__TIMEOUT: '${AUTHENTIK_EMAIL__TIMEOUT}'
      AUTHENTIK_EMAIL__FROM: '${AUTHENTIK_EMAIL__FROM}'
      SERVICE_USER_POSTGRESQL: '${SERVICE_USER_POSTGRESQL}'
      SERVICE_PASSWORD_POSTGRESQL: '${SERVICE_PASSWORD_POSTGRESQL}'
      SERVICE_PASSWORD_64_AUTHENTIKSERVER: '${SERVICE_PASSWORD_64_AUTHENTIKSERVER}'
    volumes:
      - '$JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/media:/media'
      - '$JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/custom-templates:/templates'
    depends_on:
      - postgresql
      - redis
      - worker
    networks:
      # - backend
      - frontend
    labels:
      - traefik.enable=true
      - traefik.http.routers.$COMPOSE_PROJECT_NAME.entryPoints=websecure
      - 'traefik.http.routers.$COMPOSE_PROJECT_NAME.rule=Host(`$HOST`) && PathPrefix(`/`)'
      - traefik.http.routers.$COMPOSE_PROJECT_NAME.tls.certresolver=letsencrypt
      - traefik.http.routers.$COMPOSE_PROJECT_NAME.tls=true
      - traefik.http.services.$COMPOSE_PROJECT_NAME.loadbalancer.server.port=9000
      - "homepage.group=$HOME_GROUP"
      - "homepage.name=$HOME_NAME"
      - "homepage.icon=$HOME_ICON"
      - "homepage.href=https://$HOST/if/admin/"
      - "homepage.description=$HOME_DESCRIPTION"
      
  worker:
    image: 'ghcr.io/goauthentik/server:${AUTHENTIK_TAG:-2025.6.4}'
    restart: unless-stopped
    command: worker
    environment:
      AUTHENTIK_REDIS__HOST: 'redis'
      AUTHENTIK_POSTGRESQL__HOST: 'postgresql'
      AUTHENTIK_POSTGRESQL__USER: '${SERVICE_USER_POSTGRESQL}'
      AUTHENTIK_POSTGRESQL__NAME: '${POSTGRES_DB}'
      AUTHENTIK_POSTGRESQL__PASSWORD: '${SERVICE_PASSWORD_POSTGRESQL}'
      AUTHENTIK_SECRET_KEY: '${SERVICE_PASSWORD_64_AUTHENTIKSERVER}'
      AUTHENTIK_ERROR_REPORTING__ENABLED: true
      AUTHENTIK_EMAIL__HOST: '${AUTHENTIK_EMAIL__HOST}'
      AUTHENTIK_EMAIL__PORT: '${AUTHENTIK_EMAIL__PORT}'
      AUTHENTIK_EMAIL__USERNAME: '${AUTHENTIK_EMAIL__USERNAME}'
      AUTHENTIK_EMAIL__PASSWORD: '${AUTHENTIK_EMAIL__PASSWORD}'
      AUTHENTIK_EMAIL__USE_TLS: '${AUTHENTIK_EMAIL__USE_TLS}'
      AUTHENTIK_EMAIL__USE_SSL: '${AUTHENTIK_EMAIL__USE_SSL}'
      AUTHENTIK_EMAIL__TIMEOUT: '${AUTHENTIK_EMAIL__TIMEOUT}'
      AUTHENTIK_EMAIL__FROM: '${AUTHENTIK_EMAIL__FROM}'
      SERVICE_USER_POSTGRESQL: '${SERVICE_USER_POSTGRESQL}'
      SERVICE_PASSWORD_POSTGRESQL: '${SERVICE_PASSWORD_POSTGRESQL}'
      SERVICE_PASSWORD_64_AUTHENTIKSERVER: '${SERVICE_PASSWORD_64_AUTHENTIKSERVER}'
    user: root
    networks:
      # - backend
      - frontend
    volumes:
      - '$JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/media:/media'
      - '$JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/certs:/certs'
      - '$JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/custom-templates:/templates'
    depends_on:
      - postgresql
      - redis
    
  postgresql:
    image: 'postgres:16-alpine'
    restart: unless-stopped
    # healthcheck:
    #   test:
    #     - CMD-SHELL
    #     - 'pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}'
    #   interval: 2s
    #   timeout: 10s
    #   retries: 15
    networks:
      # - backend
      - frontend
    volumes:
      - '$JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/db:/var/lib/postgresql/data'
    environment:
      POSTGRES_PASSWORD: '${SERVICE_PASSWORD_POSTGRESQL}'
      POSTGRES_USER: '${SERVICE_USER_POSTGRESQL}'
      POSTGRES_DB: $POSTGRES_DB
      SERVICE_PASSWORD_POSTGRESQL: '${SERVICE_PASSWORD_POSTGRESQL}'
      SERVICE_USER_POSTGRESQL: '${SERVICE_USER_POSTGRESQL}'
      
  redis:
    image: 'redis:alpine'
    command: '--save 60 1 --loglevel warning'
    restart: unless-stopped
    healthcheck:
      test:
        - CMD-SHELL
        - 'redis-cli ping | grep PONG'
      interval: 2s
      timeout: 10s
      retries: 15
    networks:
      # - backend
      - frontend
    volumes:
      - '$JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/redis:/data'

networks:
  frontend:
    external: true
    name: $TRAEFIK_NETWORK
  # backend:
  #   driver: bridge
  #   internal: true
    