services:
  app:
    image: drakkan/sftpgo:latest
    restart: unless-stopped
    user: $UID:$GID
    volumes:
      - $JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/data:/srv/sftpgo/data
      - $JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/home:/var/lib/sftpgo
    environment:
      - SFTPGO_DATA_PROVIDER__CREATE_DEFAULT_ADMIN=true
      - SFTPGO_DEFAULT_ADMIN_USERNAME=admin
      - SFTPGO_DEFAULT_ADMIN_PASSWORD=$SFTPGO_DEFAULT_ADMIN_PASSWORD
      - SFTPGO_SFTPD__BINDINGS__0__PORT=0
      - SFTPGO_FTPD__BINDINGS__0__PORT=0
      - SFTPGO_HTTPD__WEB_ROOT=/
      - SFTPGO_HTTPD__BINDINGS__0__PORT=8080
      - SFTPGO_HTTPD__BINDINGS__0__PROXY_ALLOWED=192.168.203.0/24
      - SFTPGO_HTTPD__BINDINGS__0__ENABLE_REST_API=false
      - SFTPGO_HTTPD__BINDINGS__0__RENDER_OPENAPI=false
      - SFTPGO_HTTPD__BINDINGS__0__ENABLED_LOGIN_METHODS=15
      # - SFTPGO_HTTPD__BINDINGS__0__OIDC_CONFIG_URL=https://accounts.google.com
      # - SFTPGO_HTTPD__BINDINGS__0__OIDC_CLIENT_ID=$PROVIDERS_GOOGLE_CLIENT_ID
      # - SFTPGO_HTTPD__BINDINGS__0__OIDC_CLIENT_SECRET=$PROVIDERS_GOOGLE_CLIENT_SECRET
      # - SFTPGO_HTTPD__BINDINGS__0__OIDC_USERNAME_FIELD=sub
      # - SFTPGO_HTTPD__BINDINGS__0__OIDC_REDIRECT_BASE_URL=https://ui.$HOST
      - SFTPGO_WEBDAVD__BINDINGS__0__PORT=8081
      # - SFTPGO_WEBDAVD__BINDINGS__0__PROXY_ALLOWED=192.168.203.0/24
      # - SFTPGO_WEBDAVD__BINDINGS__0__PREFIX=/dav
      - SFTPGO_COMMON__UPLOAD_MODE=1
      - SFTPGO_COMMON__DEFENDER__ENABLED=true
      - SFTPGO_COMMON__DEFENDER__BAN_TIME=30
      - SFTPGO_COMMON__DEFENDER__THRESHOLD=10
      - SFTPGO_COMMON__PROXY_PROTOCOL=2
      - SFTPGO_HTTPD__BINDINGS__0__OIDC__CLIENT_ID=$OIDC_CLIENT_ID
      - SFTPGO_HTTPD__BINDINGS__0__OIDC__CLIENT_SECRET=$OIDC_CLIENT_SECRET
      - SFTPGO_HTTPD__BINDINGS__0__OIDC__CONFIG_URL=$OIDC_CONFIG_URL
      - SFTPGO_HTTPD__BINDINGS__0__OIDC__REDIRECT_BASE_URL=https://ui.$HOST
      - SFTPGO_HTTPD__BINDINGS__0__OIDC__USERNAME_FIELD=$OIDC_USERNAME_FIELD
      - SFTPGO_HTTPD__BINDINGS__0__OIDC__SCOPES=$OIDC_SCOPES
      - SFTPGO_HTTPD__BINDINGS__0__OIDC__ROLE_FIELD=$OIDC_ROLE_FIELD
      - SFTPGO_HTTPD__BINDINGS__0__OIDC__IMPLICIT_ROLES=$OIDC_IMPLICIT_ROLES
    labels:
      - pangolin.public-resources.${COMPOSE_PROJECT_NAME}_ui.name=${COMPOSE_PROJECT_NAME}_ui
      - pangolin.public-resources.${COMPOSE_PROJECT_NAME}_ui.full-domain=ui.$HOST
      - pangolin.public-resources.${COMPOSE_PROJECT_NAME}_ui.protocol=http
      - pangolin.public-resources.${COMPOSE_PROJECT_NAME}_ui.ssl=true
      - pangolin.public-resources.${COMPOSE_PROJECT_NAME}_ui.targets[0].method=http
      - pangolin.public-resources.${COMPOSE_PROJECT_NAME}_ui.targets[0].port=8080
      
      - pangolin.public-resources.${COMPOSE_PROJECT_NAME}.name=$COMPOSE_PROJECT_NAME
      - pangolin.public-resources.${COMPOSE_PROJECT_NAME}.full-domain=$HOST
      - pangolin.public-resources.${COMPOSE_PROJECT_NAME}.protocol=http
      - pangolin.public-resources.${COMPOSE_PROJECT_NAME}.ssl=true
      - pangolin.public-resources.${COMPOSE_PROJECT_NAME}.targets[0].method=http
      - pangolin.public-resources.${COMPOSE_PROJECT_NAME}.targets[0].port=8081

      - "homepage.group=$HOME_GROUP"
      - "homepage.name=$HOME_NAME"
      - "homepage.icon=$HOME_ICON"
      - "homepage.href=https://ui.$HOST/web/admin"
      - "homepage.description=$HOME_DESCRIPTION"

networks:
  default:
    external: true
    name: $TRAEFIK_NETWORK
    
