services:
  sftpgo:
    image: drakkan/sftpgo:latest
    volumes:
      - Documents:/srv/sftpgo/data
      - sftpgo-data:/var/lib/sftpgo
    environment:
      - SERVICE_FQDN_SFTPGO
      - DOMAIN=${SERVICE_FQDN_SFTPGO}
      - SFTPGO_DATA_PROVIDER__CREATE_DEFAULT_ADMIN=false
      - SFTPGO_SFTPD__BINDINGS__0__PORT=0
      - SFTPGO_FTPD__BINDINGS__0__PORT=0
      - SFTPGO_HTTPD__WEB_ROOT=/
      - SFTPGO_HTTPD__BINDINGS__0__PORT=8080
      # - SFTPGO_HTTPD__BINDINGS__0__PROXY_ALLOWED=$UNIVERSE_NET.0/24
      - SFTPGO_HTTPD__BINDINGS__0__ENABLE_REST_API=false
      - SFTPGO_HTTPD__BINDINGS__0__RENDER_OPENAPI=false
      - SFTPGO_HTTPD__BINDINGS__0__ENABLED_LOGIN_METHODS=15
      - SFTPGO_WEBDAVD__BINDINGS__0__PORT=8081
      - SFTPGO_COMMON__UPLOAD_MODE=1
      - SFTPGO_COMMON__DEFENDER__ENABLED=true
      - SFTPGO_COMMON__DEFENDER__BAN_TIME=30
      - SFTPGO_COMMON__DEFENDER__THRESHOLD=10
      - SFTPGO_COMMON__PROXY_PROTOCOL=2
