services:
  db:
    image: mongodb/mongodb-community-server:7.0.16-ubi8
    restart: unless-stopped
    user: "${UID}:${GID}"
    expose:
      - 27017
    environment:
      - MONGODB_INITDB_ROOT_USERNAME=$ROOT_USERNAME
      - MONGODB_INITDB_ROOT_PASSWORD=$ROOT_PASSWORD
    volumes:
      - $JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/data:/data/db
      
  webui:
    image: mongo-express
    restart: unless-stopped
    depends_on:
      - db
    environment:
      - ME_CONFIG_MONGODB_SERVER=db
      - ME_CONFIG_MONGODB_ENABLE_ADMIN=true
      - ME_CONFIG_MONGODB_ADMINUSERNAME=$ROOT_USERNAME
      - ME_CONFIG_MONGODB_ADMINPASSWORD=$ROOT_PASSWORD
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.$COMPOSE_PROJECT_NAME.rule=Host(`$HOST`)"
      - "traefik.http.routers.$COMPOSE_PROJECT_NAME.entrypoints=websecure"
      - "traefik.http.routers.$COMPOSE_PROJECT_NAME.tls.certresolver=letsencrypt"
      - "traefik.http.routers.$COMPOSE_PROJECT_NAME.service=$COMPOSE_PROJECT_NAME"
      - "traefik.http.services.$COMPOSE_PROJECT_NAME.loadbalancer.server.port=8081"
      - "traefik.http.routers.$COMPOSE_PROJECT_NAME.middlewares=authentik@file"
      - "homepage.group=$HOME_GROUP"
      - "homepage.name=$HOME_NAME"
      - "homepage.icon=$HOME_ICON"
      - "homepage.href=https://${HOST}/"
      - "homepage.description=$HOME_DESCRIPTION"


networks:
  default:
    external: true
    name: $TRAEFIK_NETWORK
