# Copy this file as .env, then fill and adapt the actual values
COMPOSE_PROJECT_NAME=chatdoc
HOST=chat.domain.tld
TZ=Etc/UTC
TRAEFIK_NETWORK=traefik-proxy
HOME_GROUP=Bureautique
HOME_NAME=ChatDoc
HOME_ICON=https://avatars.githubusercontent.com/u/51063788
HOME_DESCRIPTION=Chat with your documents
LOGLEVEL=info
QDRANT_QUERY_LIMIT=25
QDRANT__SERVICE__API_KEY=
QDRANT__SERVICE__READ_ONLY_API_KEY=
OPENAI_API_KEY=
DOCS_PATH=/docs
EMAILS_PATH=/emails
COLLECTION_NAME=documents
DAV_ROOT=https://webdav.domain.tld
EMBEDDING_MODEL=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2
EMBEDDING_MODEL_TRUST_REMOTE_CODE=false
MIN_EXPECTED_CHAR=100
CHUNK_SIZE=400
CHUNK_OVERLAP=80
OCR_LANG=fra+eng
OPEN_MODEL_PREF=gpt-4o
RAG_AUGMENTATION=1
TORCH_NUM_THREADS=3
LLAMA_CPU_LIMIT=0.90
# imapsync settings
SYNC_PERIOD=5
IMAP_LIST__0__LABEL=user@domain.tld
IMAP_LIST__0__IMAP_SERVER=mail.domain.tld
IMAP_LIST__0__IMAP_PORT=993
IMAP_LIST__0__USERNAME=user@domain.tld
IMAP_LIST__0__PASSWORD=
IMAP_LIST__0__MAILBOX=INBOX
