# Copy this file as .env, then fill and adapt the actual values
COMPOSE_PROJECT_NAME=kopia
HOST=kopia.domain.tld
TRAEFIK_NETWORK=traefik-proxy 
HOME_GROUP=Platform
HOME_NAME=kopia
HOME_ICON=kopia.svg
HOME_DESCRIPTION=Fast and Secure Open-Source Backup Software
