JOHNCLOUD_ROOT=/path/to/root/of/paas/data
HOST=chat.domain.tld
TZ=Etc/UTC
TRAEFIK_NETWORK=traefik-proxy
HOME_GROUP=Bureautique
HOME_NAME=ChatDoc
HOME_ICON=
HOME_DESCRIPTION=Chat with your documents
LOGLEVEL='info'
QDRANT_QUERY_LIMIT=25
OPENAI_API_KEY=
COLLECTION_NAME='documents_v2'
DAV_ROOT=
EMBEDDING_MODEL='sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2'
EMBEDDING_MODEL_TRUST_REMOTE_CODE=false
CHUNK_SIZE=400
CHUNK_OVERLAP=80
OCR_LANG="fra+eng"
OPEN_MODEL_PREF='gpt-4o'
TORCH_NUM_THREADS=3
DOCUMENTS_ROOT_FOLDER=
