JOHNCLOUD_ROOT=/path/to/root/of/paas/data
HOST=pocketid.domain.tld
TZ=Etc/UTC
TRAEFIK_NETWORK=traefik-proxy
HOME_GROUP=Platform
HOME_NAME=Pocket ID
HOME_ICON=
HOME_DESCRIPTION=Chat with your documents
LOGLEVEL=info
EMBEDDING_MODEL=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2
CHUNK_SIZE=512
OVERLAP_SIZE=50
QDRANT_API_KEY=
DOCUMENTS_ROOT_FOLDER=/path/to/Documents
