COMPOSE_PROJECT_NAME=jumpserver
JOHNCLOUD_ROOT=/path/to/root/of/paas/data
HOST=fusionauth.domain.tld
TZ=Europe/Paris
TRAEFIK_NETWORK=traefik-proxy
HOME_GROUP=Bureautique
HOME_NAME=JumpServer
HOME_ICON=jumpserver.png
HOME_DESCRIPTION="Open-source PAM platform alternative to CyberArk"
MYSQL_ROOT_PASSWORD=
SECRET_KEY=
BOOTSTRAP_TOKEN=
DB_PASSWORD=
