JOHNCLOUD_ROOT=/path/to/root/of/paas/data
HOST=directus.domain.tld
TZ=Etc/UTC
TRAEFIK_NETWORK=traefik-proxy
HOME_GROUP=Bureautique
HOME_NAME=directus
HOME_ICON=directus.png
HOME_DESCRIPTION=The backend to build anything or everything

# Database
DATABASE_NAME=
DATABASE_USER=
DATABASE_PW=

HOME_GROUP=Bureautique
HOME_NAME=nocodb
HOME_ICON=nocodb.png
HOME_DESCRIPTION=Build Databases As Spreadsheets
