JOHNCLOUD_ROOT=/path/to/root/of/paas/data
HOST=fusionauth.domain.tld
TZ=Etc/UTC
TRAEFIK_NETWORK=traefik-proxy
HOME_GROUP=Bureautique
HOME_NAME=FusionAuth
HOME_ICON=fusionauth.png
HOME_DESCRIPTION="Best auth solution built for developers by developers"
DATABASE_USER=fusionauth
DATABASE_PASSWORD=
FUSIONAUTH_APP_KICKSTART_FILE=/usr/local/fusionauth/kickstart/kickstart.json
FUSIONAUTH_APP_MEMORY=512M
FUSIONAUTH_SEARCH_TYPE=elasticsearch
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
