COMPOSE_PROJECT_NAME=tailscale
JOHNCLOUD_ROOT=/path/to/root/of/paas/data
HOST=tailscale.domain.tld
TZ=Etc/UTC
TRAEFIK_NETWORK=traefik-proxy
TS_ACCEPT_DNS= # Accept DNS configuration from the admin console. Not accepted by default
TS_AUTH_ONCE= #Attempt to log in only if not already logged in. False by default, to forcibly log in every time the container starts
TS_AUTHKEY= #An auth key used to authenticate the container. This is equivalent to what you’d pass to tailscale login --authkey=.
TS_DEST_IP= #Proxy all incoming Tailscale traffic to the specified destination IP.
TS_HOSTNAME= #Use the specified hostname for the node. This is equivalent to tailscale set --hostname=.
TS_OUTBOUND_HTTP_PROXY_LISTEN = #Set an address and port for the HTTP proxy. This will be passed to tailscaled --outbound-http-proxy-listen=. For example, to set the SOCKS5 proxy to port 1055, this is :1055, which is equivalent to tailscaled --outbound-http-proxy-listen=:1055.
TS_ROUTES = #Advertise subnet routes. This is equivalent to tailscale set --advertise-routes=. To accept advertised routes, use TS_EXTRA_ARGS to pass in --accept-routes.
TS_SOCKET = #Unix socket path used by the Tailscale binary, where the tailscaled LocalAPI socket is created. The default is /var/run/tailscale/tailscaled.sock. This is equivalent to tailscaled tailscale --socket=.
TS_SOCKS5_SERVER = #Set an address and port for the SOCKS5 proxy. This will be passed to tailscaled --socks5-server=. For example, to set the SOCKS5 proxy to port 1055, this is :1055, which is equivalent to tailscaled --socks5-server=:1055.
TS_USERSPACE = #Enable userspace networking, instead of kernel networking. Enabled by default. This is equivalent to tailscaled --tun=userspace-networking
