services:
  app:
    image: kopia/kopia:latest
    command:
        - server
        - start
        - --disable-csrf-token-checks
        - --insecure
        - --address=0.0.0.0:51515
        - --without-password
    # environment:
    #     # Set repository password
    #     KOPIA_PASSWORD: $KOPIA_PASSWORD
    #     USER: $KOPIA_USER
    volumes:
        - /etc/timezone:/etc/timezone:ro
        - /etc/localtime:/etc/localtime:ro
        # Mount local folders needed by kopia
        - kopia_config:/app/config
        - kopia_cache:/app/cache
        - kopia_logs:/app/logs
        - sftpgo_documents:/source
    deploy:
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.$COMPOSE_PROJECT_NAME.rule=Host(`$HOST`)"
        - "traefik.http.routers.$COMPOSE_PROJECT_NAME.entrypoints=websecure"
        - "traefik.http.routers.$COMPOSE_PROJECT_NAME.tls.certresolver=letsencrypt"
        - "traefik.http.services.$COMPOSE_PROJECT_NAME.loadbalancer.server.port=51515"
        - "traefik.http.routers.$COMPOSE_PROJECT_NAME.middlewares=forward-auth-verify"
        - "homepage.group=$HOME_GROUP"
        - "homepage.name=$HOME_NAME"
        - "homepage.icon=$HOME_ICON"
        - "homepage.href=https://${HOST}"
        - "homepage.description=$HOME_DESCRIPTION"

volumes:
  kopia_config:
  kopia_cache:
  kopia_logs:
  sftpgo_documents:
    external: true

networks:
  default:
    external: true
    name: traefik-proxy
    