JOHNCLOUD_ROOT=/path/to/root/of/paas/data
HOST=posteio.domain.tld
TZ=Etc/UTC
TRAEFIK_NETWORK=traefik-proxy
HOME_GROUP=Bureautique
HOME_NAME=posteio
HOME_ICON=https://posteio.domain.tld/webmail/skins/elastic/images/logo.svg
HOME_DESCRIPTION=Self hosted mail server
