services:
  warpgate:
    image: ghcr.io/warp-tech/warpgate
    restart: unless-stopped
    ports:
      - 2222:2222
      # - 33306:33306
      # - 55432:55432
    user: "0:0"
    healthcheck:
      disable: true
    volumes:
      - $JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/data:/data
      - $JOHNCLOUD_ROOT/traefik/certs/$HOST/:/data/certs/:ro
    stdin_open: true
    tty: true
    labels:
      - pangolin.public-resources.$COMPOSE_PROJECT_NAME.name=$COMPOSE_PROJECT_NAME
      - pangolin.public-resources.$COMPOSE_PROJECT_NAME.full-domain=$HOST
      - pangolin.public-resources.$COMPOSE_PROJECT_NAME.protocol=http
      - pangolin.public-resources.$COMPOSE_PROJECT_NAME.ssl=true
      - pangolin.public-resources.$COMPOSE_PROJECT_NAME.targets[0].method=http
      - pangolin.public-resources.$COMPOSE_PROJECT_NAME.targets[0].port=8888
      - homepage.group=$HOME_GROUP
      - homepage.name=$HOME_NAME
      - homepage.icon=$HOME_ICON
      - homepage.href=https://$HOST
      - homepage.description=$HOME_DESCRIPTION

networks:
  default:
    external: true
    name: $TRAEFIK_NETWORK
    