version: '3'

services:
  syncthing:
    image: lscr.io/linuxserver/syncthing:latest
    environment:
      - PUID=33
      - PGID=33
      - TZ=$TZ
    volumes:
      - $JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/config:/config
      - $JOHNCLOUD_ROOT/nextcloud/data/data/ydethe/files:/data
    # ports:
    #   - 8384:8384
    #   - 22000:22000/tcp
    #   - 22000:22000/udp
    #   - 21027:21027/udp
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.$COMPOSE_PROJECT_NAME.rule=Host(`$HOST`)"
      - "traefik.http.routers.$COMPOSE_PROJECT_NAME.entrypoints=websecure"
      - "traefik.http.routers.$COMPOSE_PROJECT_NAME.tls.certresolver=letsencrypt"
      - "traefik.http.services.$COMPOSE_PROJECT_NAME.loadbalancer.server.port=8384"
      - "traefik.http.routers.$COMPOSE_PROJECT_NAME.middlewares=authentik@file"
      - "homepage.group=Bureautique"
      - "homepage.name=Syncthing"
      - "homepage.icon=syncthing.png"
      - "homepage.href=https://$HOST"
      - "homepage.description=The Internet OS!"

networks:
  default:
    external: true
    name: $TRAEFIK_NETWORK
    
