# authentication.fallback-admin.secret = 
authentication.fallback-admin.user = "admin"
certificate.default.cert = "%{file:/data/certs/mail.${MAIL_DOMAIN}/cert.pem}%"
certificate.default.default = true
certificate.default.private-key = "%{file:/data/certs/mail.${MAIL_DOMAIN}/key.pem}%"
directory.internal.store = "sqlite"
directory.internal.type = "internal"
server.hostname = "mail.${MAIL_DOMAIN}"
server.listener.jmap.bind = "[::]:443"
server.listener.jmap.protocol = "http"
server.listener.jmap.tls.implicit = true
server.listener.http.bind = "[::]:8080"
server.listener.http.protocol = "http"
server.listener.https.bind = "[::]:443"
server.listener.https.protocol = "http"
server.listener.https.tls.implicit = true
server.listener.imap.bind = "[::]:143"
server.listener.imap.protocol = "imap"
server.listener.imaptls.bind = "[::]:993"
server.listener.imaptls.protocol = "imap"
server.listener.imaptls.tls.implicit = true
server.listener.pop3.bind = "[::]:110"
server.listener.pop3.protocol = "pop3"
server.listener.pop3s.bind = "[::]:995"
server.listener.pop3s.protocol = "pop3"
server.listener.pop3s.tls.implicit = true
server.listener.sieve.bind = "[::]:4190"
server.listener.sieve.protocol = "managesieve"
server.listener.smtp.bind = "[::]:25"
server.listener.smtp.protocol = "smtp"
server.listener.submission.bind = "[::]:587"
server.listener.submission.protocol = "smtp"
server.listener.submissions.bind = "[::]:465"
server.listener.submissions.protocol = "smtp"
server.listener.submissions.tls.implicit = true
storage.blob = "sqlite"
storage.data = "sqlite"
storage.directory = "internal"
storage.fts = "sqlite"
storage.lookup = "sqlite"
store.sqlite.compression = "lz4"
store.sqlite.path = "/opt/stalwart/data/data.db"
store.sqlite.pool.max-connections = 10
store.sqlite.purge.frequency = "0 3 *"
store.sqlite.read-from-replicas = true
store.sqlite.type = "sqlite"
tracer.log.ansi = false
tracer.log.buffered = true
tracer.log.enable = true
tracer.log.level = "info"
tracer.log.lossy = false
tracer.log.multiline = false
tracer.log.type = "stdout"
