services:
  mailserver:
    # swaks --to test-xxxxxxx@srv1.mail-tester.com --from admin@$HOST --server mail.$HOST --auth-user admin --protocol SSMTP --port 465 --auth-password xxx
    image: stalwartlabs/stalwart:latest
    restart: unless-stopped
    hostname: mail.$HOST
    ports:
      - '25:25'
      - '587:587'
      - '465:465'
      - '143:143'
      - '993:993'
      - '4190:4190'
      - '110:110'
      - '995:995'
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - $JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/data:/opt/stalwart
      - $JOHNCLOUD_ROOT/traefik/certs/mail.$HOST:/data/certs/mail.$HOST:ro
    labels:
      - traefik.enable=true

      - traefik.http.routers.$COMPOSE_PROJECT_NAME-ui.rule=Host(`mail.$HOST`) || Host(`autodiscover.$HOST`) || Host(`autoconfig.$HOST`) || Host(`mta-sts.$HOST`) || Host(`mx.$HOST`) || Host(`smtp.$HOST`) || Host(`pop.$HOST`) || Host(`imap.$HOST`) || Host(`jmap.$HOST`)'
      - traefik.http.routers.mailserver.entrypoints=https
      - traefik.http.routers.$COMPOSE_PROJECT_NAME-ui.entrypoints=websecure
      - traefik.http.routers.$COMPOSE_PROJECT_NAME-ui.tls.certresolver=letsencrypt
      - traefik.http.routers.$COMPOSE_PROJECT_NAME-ui.service=$COMPOSE_PROJECT_NAME-ui
      - traefik.http.services.$COMPOSE_PROJECT_NAME-ui.loadbalancer.server.port=8080

      - homepage.group=$HOME_GROUP
      - homepage.name=$HOME_NAME
      - homepage.icon=$HOME_ICON
      - homepage.href=https://mail.$HOST
      - homepage.description=$HOME_DESCRIPTION

networks:
  default:
    external: true
    name: $TRAEFIK_NETWORK
    