services:
  teleport:
    image: public.ecr.aws/gravitational/teleport-distroless:18
    # image: public.ecr.aws/gravitational/teleport:latest
    volumes:
      - $JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME//config:/etc/teleport
      - $JOHNCLOUD_ROOT/$COMPOSE_PROJECT_NAME/data:/var/lib/teleport
    ports:
      - "3023:3023"
      - "3024:3024"
      - "3025:3025"
    # command: ["teleport", "start", "--config=/etc/teleport/teleport.yaml"]
    labels:
      - traefik.enable=true
      - traefik.http.routers.$COMPOSE_PROJECT_NAME.entryPoints=websecure
      - traefik.http.routers.$COMPOSE_PROJECT_NAME.rule=Host(`$HOST`)
      - traefik.http.routers.$COMPOSE_PROJECT_NAME.tls.certresolver=letsencrypt
      - traefik.http.routers.$COMPOSE_PROJECT_NAME.tls=true
      - traefik.http.services.$COMPOSE_PROJECT_NAME.loadbalancer.server.port=3080
      - "homepage.group=$HOME_GROUP"
      - "homepage.name=$HOME_NAME"
      - "homepage.icon=$HOME_ICON"
      - "homepage.href=https://$HOST/"
      - "homepage.description=$HOME_DESCRIPTION"

networks:
  default:
    external: true
    name: $TRAEFIK_NETWORK
    